p {
  font-size: 1rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.lucky {
  font-size: 1rem;
  margin: 2% auto;
  background-color: grey;
  padding: 1% 2%;
  border-radius: 3px;
  width: max-content;
}

.lucky:hover {
  cursor: pointer;
}

.react-datepicker-wrapper {
  margin-bottom: 0;
}