img {
  width: 100%;
  object-fit: cover;
}

.explanation {
  font-size: .9rem;
  margin: 2% 5%;
}

.hide-button {
  margin: 0 auto;
  font-size: .8rem;
  background-color: grey;
  width: max-content;
  padding: 1.5% 2.5%;
  border-radius: 3px;
}

.hide-button:hover {
  cursor: pointer;
}

.author {
  margin-bottom: 3%;
  margin-top: 0;
}

.title {
  margin: 1% 0 0.3% 0;
}

.hide {
  display: none;
}